{% extends 'core/base.html' %}
{% block title %}contacto{% endblock %}
{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}
{% block headers %}
	<h1>Contacto</h1>
	<span class="subheading">Consultas</span>
{% endblock %}
{% block content %}
<div class="col-lg-8 col-md-10 mx-auto">
    <p>Si queres contactarme, aquí te indico los medios a tu disposición.</p>
    <br>
    <p><b>Mail:</b> ghurodriguez@gmail.com</p>
    <p><b>Teléfono:</b> +54 11 33042658</p>
      </div>
{% endblock %}


